.panda-bg-info {
    background-color: #fbeae8;
}

.categories img {
    width: 6.25em;
}

.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}